<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> INSERT ACCESSRECORD</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="na">name</label>
            <select name="na" id="na">
                {% for wo in QLWO %}
                <option value="{{wo.id}}">{{wo.name}}</option>
                {% endfor %}
            </select>
            <br>
            
            <label for="date">date</label>
            <input type="date" name="date" id="date"><br>
            <label for="au">author</label>
            <input type="text" name="au" id="au
            "><br>

            <input type="submit">
        </form>
    </center>
</body>
</html>